include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts
include ../block1/block1
include ../block2/block2
include ../block3/block3
include ../block4/block4
include ../block5/block5

doctype html
html(lang='ru')
	include ../head/head
	+page
		block content
		+scripts(['app.min.js'])
		#top
			+block1
		#1
			+block2
		#2
			+block3
		+block4
		+block5

