mixin block5()
	+b.block5.block5_Zindex
		+b.img_decor_line
		+b.block5.block5_background-dots
			+b.block5.block5_center_content
				+b.text_in_menu.text_in_menu_block5 прямо сейчас
				+b.text_header.text_header_block5
					|ПОМОЩЬ 14 ДНЕЙ
					br
					| БЕСПЛАТНО
				+b(href="#top").button.button_block5
					+b.text.text_in_button Нчать
		block
