mixin block1()
	+b.block1.background
		+b.top_menu_container
			+b(src='assets/images/amocrm-logo-dark.png')
			+b.item_menu_container
				a(href='#1').text_in_menu.center_block1 Решения
				a(href='#2').text_in_menu Преимущества
				a(href='#3').text_in_menu.center_block1 Возможности
		+b.center_container
			+b.text_header
				| Удобная web программа для анализа продаж,
				br
				| доступная в режиме online из любой точки мира!
			+b.img_underline(src='assets/images/underline.png')
			+b(id="button1").button
				+b.text_in_button Попробовать бесплатно
	+b(id="bitrix")
		+b.img_decor_line
	+b.img_decor_line
		block
