mixin block4()
	+b.block4.block2_center_content
		+b.block4.block4_background_container
			+b(id='3').block4.block4_row.block4_top
				+b.block4
					+b.text_in_menu_block4_jfh Продажи на автопилоте
					+b.img_underline.img_underline_block3_mini(src='assets/images/underline_3.png')
					+b.text_in_menu.text_in_menu_block2.text_in_menu_block2_center
						| amoCRM сама умеет утеплпять
						br
						| заявки и доводить их до покупки.
						br
						| От подписи рассылок до показа
						br
						| индивидуальной рекламы для
						br
						| каждого полльзователя.
				+b.space
				+b.block4
					+b.text_in_menu_block4_jfh Все сделки как на ладони
					+b.img_underline.img_underline_block3_mini(src='assets/images/underline_3.png')
					+b.text_in_menu.text_in_menu_block2.text_in_menu_block2_center
						| Воронка продаж - ключевой экран
						br
						| amoCRM.Здесь весь процесс продажи
						br
						| представленввиде колонок - этапов,
						br
						| через которыесделка последовательно
						br
						| проходит до успешной покупки.
			+b.img-crm(src='assets/images/crm_pic.png')
			+b.block4.block4_row.block4_top
				+b.block4.block4_tooop
					+b.text_in_menu_block4_jfh Все письма в amoCRM
					+b.img_underline.img_underline_block3_mini(src='assets/images/underline_3.png')
					+b.text_in_menu.text_in_menu_block2.text_in_menu_block2_center
						| Ведите всю переписку прямо в amoCR
						br
						| – пишите письма, создавайте типовые
						br
						| шаблоны и на их основе отправляйте
						br
						| письма и планируйте автоматическую
						br
						| рассылку.

				+ b.space
				+ b.block4
					+b.text_in_menu_block4_jfh Встроенные веб формы
					+b.img_underline.img_underline_block3_mini(src='assets/images/underline_3.png')
					+b.text_in_menu.text_in_menu_block2.text_in_menu_block2_center
						|Подключение специальных виджетов
						br
						| избавит вас от необходимости
						br
						| вручную переносить лиды и контакты
						br
						| в систему! Создавайте специальные
						br
						| формы на вашем сайте.
					+ b.space1
		block
