.block4
	display flex
	flex-direction: column
	align-items: center
	justify-content: space-around

.block4_background_container
	margin-top 800px
	width 1033px
	background-color #ecf0f1
	z-index 2

.text_in_menu_block4_jfh
	color: #4a6289
	font-family: Cambria
	line-height: 1.7
	letter-spacing: -1px
	text-align center
	font-size 20pt
	font-weight 600

.img_underline_block3_mini
	margin-top 5px
	width 100px
	height 1

.text_in_menu_block2_center
	text-align center
	line-height 2
	margin-bottom 0

.block4_row
	flex-direction: row

.block4_top
	margin-top 80px

.space
	width 100px

.img-crm
	width 899px
	height 377px
	margin-top 85px

.block5_background-dots
	background-position: 50% 50%
	background-repeat: no-repeat
	border-width: 0
	background-image: url(../images/background_dots.png)
	capture: on
	container: on
	background-size: cover
	height: 800px
	width: 100%
	z-index: -1
	parallax: on
	background-attachment: fixed
	fullcover: on
	left: 0

.space1
	height 150px

.block4_bottom
	margin-bottom 80p

.block4_tooop
	margin-bottom 141px
