mixin block3()
	+b.block3
		+b.block3.block3_background
			+b.container_for_block
				+b.block3.block3_container
					+b.text_in_menu.text_in_menu_block3
						| amoCRM является CRM в простейшим
						br
						| web-приложением. Это простой и
						br
						| понятныйинструмент , предназначенный
						br
						| для торгового персонала, направленных
						br
						| на получение результатов более
						br
						| быстро и легко.
					+b.img_underline.img_underline_block3(src='assets/images/underline.png')
					+b.text_in_menu.text_in_menu_block3
						| По нашему мнению,большинство
						br
						| систем CRM слишком сложны. amoCRM
						br
						| представляет собой систему CRM на основе
						br
						|  настраиваемый и простого в использовании
						br
						| облака. Это делает его полезным инструментом
						br
						| для специалистов по продажам.
			+b.img_pc(src='assets/images/pc.png')
		+b.img_decor_line.down
		block
