.block3
	display flex
	flex-direction: column
	align-items: center
	justify-content: space-around

.block3_background
	flex-direction: row
	position absolute
	background-position: 50% 50%
	background-repeat: no-repeat
	border-width: 0
	background-image: url(../images/background_dots.png)
	capture: on
	container: on
	background-size: cover
	height: 1000px
	width: 100%
	z-index: -1
	parallax: on
	background-attachment: fixed
	fullcover: on
	left: 0
	top: 1547px

.container_for_block
	width 1024px
	display flex
	flex-direction: row
	align-items: center
	justify-content: flex-start

.block3_container
	box-shadow: 0 0 10px rgba(0,0,0,0.5)
	background-color #ecf0f1
	width 550px
	height 530px
	align-items: flex-start
	padding-left 30px

.text_in_menu_block3
	font-size 16pt
	color #4a6289
	font-family Cambria
	line-height: 1.7
	letter-spacing -1px

.img_underline_block3
	margin-top 9px

.img_pc
	position absolute
	width 730px
	height 418px
	margin-left 500px
	margin-top 57px

.down
	position absolute
	margin-top 920px
	z-index -2


